* {
  margin: 0;
  padding: 0;
}

#body {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

/*----------Estilos Comunes de Todas las Paginas-------------*/
/*navBar*/
.modificaColor {
  color: transparent;
}

#estilosLetrasNav1 {
  font-size: medium;
  color: #DCD7C9;
}

#estilosLetrasNav1:hover {
  color: #ca9468;
  transform: scale(1.1);
  transition: 0.5s;
}

#estiloLetrasNav2:hover {
  color: #ca9468;
}

/*Footer*/
.contenedorFooter {
  width: 100%;
  height: 10vh;
  margin-top: 5%;
  border-top: 1px solid #DCD7C9;
}

.tituloFooter {
  font-size: small;
  margin: auto;
  color: #DCD7C9;
}

.estiloIconosFooter {
  color: #DCD7C9;
  margin: auto;
  text-decoration: none;
  width: 30px;
  height: 30px;
}

.estiloIconosFooter:hover {
  color: #DCD7C9;
  transform: scale(1.1);
  transition: 0.3s;
}

.enlacesSecundarios {
  display: flex;
  justify-content: center;
}

/*---------INDEX-------------*/
.portadaIndex {
  width: 100%;
  height: 60vh;
  background-image: url(../img/portadaArtemisa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedorFraseMainIndex {
  width: 100%;
  height: 30vh;
  margin-bottom: 2%;
}

.tituloMainIndex {
  color: #DCD7C9;
  text-align: center;
  margin-top: 2%;
}

.parrafoMainIndex {
  color: #DCD7C9;
  text-align: center;
  font-size: xx-large;
  margin-right: 20%;
  margin-left: 20%;
}

.enlacesSecundarios {
  flex-direction: row;
}

.estiloLetrasEnlacesSecundarios {
  text-decoration: none;
  padding: 0 5% 0 5%;
  color: #ca9468;
}

.estiloLetrasEnlacesSecundarios:hover {
  color: #DCD7C9;
  transform: scale(1.1);
  transition: 1, 5s;
}

.contenedorCartasIndex {
  background-color: #ffeaa7;
  background-image: linear-gradient(315deg, #ffeaa7 0%, #000000 74%);
  border-radius: 5px;
}

.tituloPorQueUsarReloj {
  text-align: center;
  color: whitesmoke;
  font-size: xx-large;
}

.segundoTituloPorQueUsarReloj {
  text-align: center;
  color: whitesmoke;
}

.contenedorImagenPorQueUsarReloj {
  width: 25rem;
  height: 22.5rem;
  background-image: url(../img/porQueUsarReloj4.jpg);
  background-size: cover;
  border: 1px solid white;
  border-radius: 5px;
  animation: movimiento 10s linear infinite alternate;
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
.enlacesSecundarios {
  display: flex;
  justify-content: center;
} /*--------PRODUCTOS----------*/
.portadaProductos {
  width: 100%;
  height: 50vh;
  background-image: url(../img/Productos.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedorMainProductos {
  margin-top: 2%;
}

.transformacionProductos:hover {
  transform: scale(1.1);
  transition: 1s;
}

.enlacesSecundarios {
  display: flex;
  justify-content: center;
}

/*------------Sobre Nosotros----------*/
.portadaSobreNosotros {
  width: 100%;
  height: 50vh;
  background-image: url(../img/Sobre\ Nostros.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imagenSobreNosotros {
  width: 20rem;
  height: 27rem;
  border-radius: 5px;
  margin-top: 40%;
  margin-left: 60%;
  margin-bottom: 200px;
  box-shadow: 0px 10px 30px whitesmoke;
}

.tituloSobreNosotros {
  margin-top: 15%;
  margin-left: 25%;
  color: whitesmoke;
}

.tituloSegundoSobreNosotros {
  margin-left: 25%;
  color: rgba(245, 245, 245, 0.842);
}

.parrafoSobreNosotros {
  margin-right: 20%;
  margin-left: 25%;
  text-align: justify;
  color: rgba(245, 245, 245, 0.637);
}

.enlacesSecundarios {
  display: flex;
  justify-content: center;
}

/*-------------CONTACTO-----------------------*/
.portadaContacto {
  width: 100%;
  height: 50vh;
  background-image: url(../img/Contactos.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*---------------------Formulario de Compra---------------*/
.contenedorContacto-Compra {
  margin-right: 10%;
  margin-left: 10%;
}

.tituloContacto-Compra {
  color: whitesmoke;
  text-align: center;
  font-size: xx-large;
  margin-top: 3%;
  margin-bottom: 5%;
}

/*----------------Formulario de contacto--------------*/
.contenedorContacto-Consulta {
  margin-right: 10%;
  margin-left: 10%;
}

.tituloContacto-Consulta {
  color: whitesmoke;
  text-align: center;
  font-size: xx-large;
  margin-top: 5%;
  border-top: 1px solid rgba(245, 245, 245, 0.548);
}

/*--------------MEDIA QUERYS---------------*/
@media all and (max-width: 1200px) {
  .portadaIndex, .portadaProductos, .portadaOfertas,
.portadaSobreNosotros, .portadaContacto {
    height: 30vh;
  }
  .contenedorFraseMainIndex {
    width: 100%;
    height: 30vh;
  }
  .contenedorProductosResponsive1 {
    display: flex;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 992px) {
  .imagenSobreNosotros {
    width: 20rem;
    height: 25rem;
    margin-left: 50%;
  }
  .tituloSobreNosotros {
    margin-left: 30%;
  }
  .tituloSegundoSobreNosotros {
    margin-left: 30%;
  }
  .parrafoSobreNosotros {
    margin-left: 30%;
  }
}
@media all and (max-width: 768px) {
  .contenedorFraseMainIndex {
    height: 20vh;
  }
  .tituloMainIndex {
    font-size: x-large;
  }
  .parrafoMainIndex {
    font-size: large;
  }
  .contenedorProductosResponsive1 {
    display: flex;
    flex-wrap: wrap;
  }
  .transformacionProductos:hover {
    transform: none;
  }
  .contenedorOfertasResponsive1 {
    display: flex;
    flex-wrap: wrap;
  }
  .transformacionOfertas {
    transform: none;
  }
  .imagenSobreNosotros {
    width: 15rem;
    height: 20rem;
    margin-left: 45%;
  }
  .tituloSobreNosotros {
    margin-top: 20%;
    margin-left: 25%;
    font-size: x-large;
  }
  .tituloSegundoSobreNosotros {
    margin-left: 25%;
    font-size: large;
  }
  .parrafoSobreNosotros {
    margin-right: 10%;
    margin-left: 25%;
    font-size: medium;
  }
}
@media all and (max-width: 576px) {
  .tituloMainIndex {
    font-size: x-large;
  }
  .parrafoMainIndex {
    font-size: large;
  }
  .contenedorFraseMainIndex {
    width: 100%;
    height: 30vh;
  }
  .imagenSobreNosotros {
    width: 15rem;
    height: 20rem;
    margin-left: 25%;
  }
  .tituloSobreNosotros {
    margin-top: 30%;
    font-size: large;
  }
  .tituloSegundoSobreNosotros {
    margin-left: 25%;
    font-size: medium;
  }
  .parrafoSobreNosotros {
    margin-right: 10%;
    margin-left: 25%;
    font-size: small;
  }
}
@media all and (max-width: 450px) {
  .tituloMainIndex {
    font-size: x-large;
  }
  .parrafoMainIndex {
    font-size: large;
  }
  .contenedorFraseMainIndex {
    width: 100%;
    height: 20vh;
  }
  .contenedorImagenPorQueUsarReloj {
    width: 20rem;
    height: 22.5rem;
  }
  .contedorSobreNosotros {
    flex-wrap: wrap;
  }
  .imagenSobreNosotros {
    margin-top: 10%;
    margin-left: 40%;
    margin-bottom: 0px;
  }
  .tituloSobreNosotros {
    margin-left: 35%;
    margin-top: 5%;
  }
  .tituloSegundoSobreNosotros {
    margin-left: 30%;
  }
  .parrafoSobreNosotros {
    margin-right: 20%;
    margin-left: 25%;
  }
}
.enlacesSecundarios {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
