* {
  margin: 0;
  padding: 0;
}

#body {
  margin: 10px 10px 10px 10px;
  background-color: ivory;
}

/*----------Estilos Comunes de Todas las Paginas-------------*/
/*navBar*/
.modificaColor {
  color: transparent;
}

#estilosLetrasNav1 {
  font-size: medium;
  color: #DCD7C9;
}

#estilosLetrasNav1:hover {
  color: #E6BA95;
  transform: scale(1.1);
  transition: 0.5s;
}

#estiloLetrasNav2:hover {
  color: rgba(165, 97, 42, 0.877);
}

/*Footer*/
.contenedorFooter {
  width: 100%;
  height: 10vh;
  margin-top: 5%;
  border-top: 1px solid rgba(0, 0, 0, 0.582);
}

.tituloFooter {
  font-size: small;
  margin: auto;
  color: rgba(0, 0, 0, 0.582);
}

.estiloIconosFooter {
  margin: auto;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.582);
  width: 30px;
  height: 30px;
}

.estiloIconosFooter:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.enlacesSecundarios {
  display: flex;
  justify-content: center;
}

/*---------INDEX-------------*/
.portadaIndex {
  width: 100%;
  height: 70vh;
  background-image: url(../img/portadaArtemisa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedorFraseMainIndex {
  width: 100%;
  height: 40vh;
}

.tituloMainIndex {
  text-align: center;
  margin-top: 10%;
}

.parrafoMainIndex {
  text-align: center;
  font-size: xx-large;
  margin-right: 20%;
  margin-left: 20%;
}

.enlacesSecundarios {
  flex-direction: row;
}

.estiloLetrasEnlacesSecundarios {
  text-decoration: none;
  padding-right: 5%;
  color: rgba(165, 97, 42, 0.877);
}

.contenedorCartasIndex {
  background-color: #3F4E4F;
  border-radius: 5px;
}

.enlacesSecundarios {
  display: flex;
  justify-content: center;
} /*--------PRODUCTOS----------*/
.portadaProductos {
  width: 100%;
  height: 50vh;
  background-image: url(../img/Productos.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedorMainProductos {
  margin-top: 2%;
}

.transformacionProductos:hover {
  transform: scale(1.1);
  transition: 1s;
}

.enlacesSecundarios {
  display: flex;
  justify-content: center;
} /*-------------OFERTAS---------------*/
.portadaOfertas {
  width: 100%;
  height: 50vh;
  background-image: url(../img/Ofertas.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedorMainOfertas {
  margin-top: 2%;
}

.enlacesSecundarios {
  display: flex;
  justify-content: center;
}

/*------------Sobre Nosotros----------*/
.portadaSobreNosotros {
  width: 100%;
  height: 50vh;
  background-image: url(../img/Sobre\ Nostros.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tituloSobreNosotros {
  color: rgba(165, 97, 42, 0.877);
  text-align: justify;
  font-size: xx-large;
  margin: 5% 10% 10px 5%;
}

.tituloSegundoSobreNosotros {
  color: rgba(165, 97, 42, 0.877);
  text-align: justify;
  margin: 0px 10% 10px 5%;
}

.parrafoSobreNosotros {
  color: rgba(165, 97, 42, 0.877);
  text-align: justify;
  font-size: medium;
  margin: 0px 30% 10px 5%;
}

.contenedorImagenSobreNosotros {
  margin: 10px 0% 10px 20%;
}

.imagenSobreNosotros {
  width: 20rem;
  height: 30rem;
  margin-top: 10%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.521);
}

.enlacesSecundarios {
  display: flex;
  justify-content: center;
}

/*-------------CONTACTO-----------------------*/
.portadaContacto {
  width: 100%;
  height: 50vh;
  background-image: url(../img/Contactos.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedorMainContacto {
  border: dotted 3px rgba(165, 97, 42, 0.877);
  margin-top: 5%;
}

.tituloContacto {
  text-align: center;
  color: rgba(165, 97, 42, 0.877);
  font-size: xx-large;
  margin-top: 1%;
}

/*--------------MEDIA QUERYS---------------*/
@media all and (max-width: 1200px) {
  .portadaIndex, .portadaProductos, .portadaOfertas,
.portadaSobreNosotros, .portadaContacto {
    height: 30vh;
  }
  .contenedorFraseMainIndex {
    width: 100%;
    height: 30vh;
  }
  .contenedorProductosResponsive1 {
    display: flex;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 992px) {
  .tituloSobreNosotros {
    margin: 8% 10% 10px 5%;
  }
  .parrafoSobreNosotros {
    margin: 0px 30% 10px 5%;
  }
  .imagenSobreNosotros {
    width: 20rem;
    height: 25rem;
  }
}
@media all and (max-width: 768px) {
  .contenedorFraseMainIndex {
    margin-bottom: 5%;
  }
  .contenedorProductosResponsive1 {
    display: flex;
    flex-wrap: wrap;
  }
  .transformacionProductos:hover {
    transform: none;
  }
  .contenedorOfertasResponsive1 {
    display: flex;
    flex-wrap: wrap;
  }
  .transformacionOfertas {
    transform: none;
  }
  .tituloSobreNosotros {
    font-size: x-large;
    margin: 10% 10% 10px 5%;
  }
  .tituloSegundoSobreNosotros {
    font-size: large;
  }
  .parrafoSobreNosotros {
    font-size: small;
  }
  .contenedorImagenSobreNosotros {
    margin: 10px 0% 10px 20%;
  }
  .imagenSobreNosotros {
    width: 15rem;
    height: 20rem;
  }
}
@media all and (max-width: 576px) {
  .tituloMainIndex {
    font-size: large;
  }
  .parrafoMainIndex {
    font-size: x-large;
  }
  .contenedorFraseMainIndex {
    width: 100%;
    height: 30vh;
  }
  .tituloSobreNosotros {
    font-size: large;
    margin: 15% 10% 10px 10%;
  }
  .tituloSegundoSobreNosotros {
    font-size: medium;
  }
  .parrafoSobreNosotros {
    font-size: x-small;
  }
  .contenedorImagenSobreNosotros {
    margin: 10px 0% 10px 15%;
  }
  .imagenSobreNosotros {
    width: 15rem;
    height: 20rem;
  }
}
@media all and (max-width: 450px) {
  .tituloMainIndex {
    font-size: x-large;
  }
  .parrafoMainIndex {
    font-size: large;
  }
  .contenedorFraseMainIndex {
    width: 100%;
    height: 25vh;
  }
  .tituloSobreNosotros {
    font-size: medium;
    margin: 15% 0% 10px 5%;
  }
  .tituloSegundoSobreNosotros {
    font-size: small;
  }
  .parrafoSobreNosotros {
    font-size: xx-small;
    margin: 0px 20% 10px 5%;
  }
  .contenedorImagenSobreNosotros {
    margin: 10px 0% 10px 5%;
  }
  .imagenSobreNosotros {
    width: 10rem;
    height: 15rem;
  }
}
.enlacesSecundarios {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
