*{
    margin: 0;
    padding: 0;
}

#body{
    margin: 10px 10px 10px 10px;
}

/*----------Estilos Comunes de Todas las Paginas-------------*/

/*navBar*/
.modificaColor{
    color: transparent;
    
}

#estiloLetrasNav:hover{
    color: rgba(158, 95, 37, 0.76);
    
}

/*Footer*/
.contenedorFooter{
    
    width: 100%;
    height: 10vh;
    margin-top: 5%;
    border-top: 1px solid rgba(0, 0, 0, 0.712);
    
    
}





.tituloFooter{
    font-size: small;
    margin:auto;
    color: rgba(0, 0, 0, 0.712);
}

.estiloIconosFooter{
    margin: auto;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.712);
    width: 30px;
    height: 30px;
    
}

.estiloIconosFooter:hover{
    transform: scale(1.1);
    transition: 0.5s;
}





/*---------INDEX-------------*/

.portadaIndex{
    width: 100%;
    height: 70vh;
    background-image: url(./img/portadaArtemisa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.contenedorFraseMainIndex{
    width: 100%;
    height: 50vh;
    background-color: ivory;
    
}

.tituloMainIndex{
    text-align: center;
    margin-top: 7%;
}

.parrafoMainIndex{
    text-align: center;
    font-size: xx-large;
    margin-right: 20%;
    margin-left: 20%;
}

.enlacesSecundarios{
    display:flex;
    justify-content: center; 
    flex-direction: row;
    
}

.estiloLetrasEnlacesSecundarios{
    text-decoration: none;
    padding-right: 5%;
    color: rgba(158, 95, 37, 0.76);
    
}




    


/*--------PRODUCTOS----------*/

.portadaProductos{
    width: 100%;
    height: 50vh;
    background-image: url(./img/Productos.png);
    background-size: cover;
    background-repeat: no-repeat;

}


.contenedorMainProductos{
    background-color: ivory;
    margin-top: 2%;

}

.transformacionProductos:hover{
    transform: scale(1.1);
    transition: 1s;

}





/*-------------OFERTAS---------------*/

.portadaOfertas{
    width: 100%;
    height: 50vh;
    background-image: url(./img/Ofertas.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedorMainOfertas{
    background-color: ivory;
    margin-top: 2%;

}

.transformacionOfertas:hover{
    transform: scale(1.1);
    transition: 1s;

}

/*------------Sobre Nosotros----------*/

.portadaSobreNosotros{
    width: 100%;
    height: 50vh;
    background-image: url(./img/Sobre\ Nostros.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedorMainSobreNosotros{
    margin-top: 5%;
}

.imagenMainSobreNosotros{
    width: 40vw;
    height: 60vh;
    box-shadow: 0px 10px 30px #000;
    margin-left: 20%;
}

.titulo1MainSobreNosotros{
    color: rgba(165, 97, 42, 0.925);
    margin-left: 10%;
}

.titulo2MainSobreNosotros{
    color: rgba(165, 97, 42, 0.822);
    margin-left: 10%;
}

.estiloLetrasMainSobreNosotros{
    color: rgba(165, 97, 42, 0.712);
    margin-left: 10%;
    margin-right: 50%;
}


/*-------------CONTACTO-----------------------*/
.portadaContacto{
    width: 100%;
    height: 50vh;
    background-image: url(./img/Contactos.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedorMainContacto{
    
    border: dotted 3px rgba(165, 97, 42, 0.877);
    margin-top: 5%;
}

.tituloContacto{
    text-align: center;
    color: rgba(165, 97, 42, 0.877);
    font-size: xx-large;
    margin-top: 1%;
}

/*--------------MEDIA QUERYS---------------*/

@media all and (max-width: 1200px){
    .portadaIndex , .portadaProductos , .portadaOfertas , 
    .portadaSobreNosotros , .portadaContacto{
        
        height: 10vh;
        background-color: rgba(0, 0, 0, 0.685);
        background-image:none;

    
    }

   
    }
  
   

@media all and (max-width: 700px){
    .contenedorProductosResponsive1{
        display: flex;
        flex-wrap: wrap;
    }
    
    .transformacionProductos:hover{
        transform: scale(1.3);
        transition: 1s;
    }

    .contenedorOfertasResponsive1{
        display: flex;
        flex-wrap: wrap;
    }

    .transformacionOfertas{
        transform: scale(1.3);
        transition: 1s; 
    }

    .imagenMainSobreNosotros{
        width: 40vw;
        height: 30vh;
        margin-bottom: 30px;
    }

    .cajaContenidoMainSobreNosotros{
        display: flex;
        flex-wrap: wrap;
        
    }

    .titulo1MainSobreNosotros , .titulo2MainSobreNosotros {
        text-align: center;
    }

    .estiloLetrasMainSobreNosotros{
        margin-left: 30%;
        margin-right: 20%;
    }
   
}
    

@media all and (max-width: 576px){
    
    .imagenMainSobreNosotros{
        width: 40vw;
        height: 30vh;
        margin-bottom: 30px;
    }

    
.tituloMainIndex{
    font-size: large;
}

.parrafoMainIndex{
    font-size: x-large;
}

}


