@import '../base.scss/variables';
@import '../base.scss/maps';
@import '../base.scss/mixin';
@import '../base.scss/extends';
/*-------------CONTACTO-----------------------*/
.portadaContacto{
    width: map-get($ancho, w-100 );
    height: 50vh;
    background-image: url(../img/Contactos.png);
    @include estilosbackground;

}

/*---------------------Formulario de Compra---------------*/
.contenedorContacto-Compra{
    margin-right: 10%;
    margin-left: 10%;
}

.tituloContacto-Compra{
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
    margin-top: 3%;
    margin-bottom: 5%;

}

/*----------------Formulario de contacto--------------*/

.contenedorContacto-Consulta{
    margin-right: 10%;
    margin-left: 10%;
}

.tituloContacto-Consulta{
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
    margin-top: 5%;
    border-top: 1px solid rgba(245, 245, 245, 0.548);
}