@import '../base.scss/variables';
@import '../base.scss/maps';
@import '../base.scss/mixin';
@import '../base.scss/extends';


/*---------INDEX-------------*/

.portadaIndex{
    width: map-get($ancho, w-100 );
    height: 60vh;
    background-image: url(../img/portadaArtemisa.jpg);
   @include estilosbackground;
}


.contenedorFraseMainIndex{
    width: map-get($ancho, w-100 );
    height: 30vh;
    
    
}

.tituloMainIndex{
    color: #DCD7C9;
    text-align: center;
    margin-top: 5%;
}

.parrafoMainIndex{
    color: #DCD7C9;
    text-align: center;
    font-size: xx-large;
    margin-right: 20%;
    margin-left: 20%;
}

.enlacesSecundarios{
    @extend %flexbox;
    flex-direction: row;
    
}


.estiloLetrasEnlacesSecundarios{
    text-decoration: none;
    padding: 0 5% 0 5%;
    color: $Color_Letras;
    
}

.estiloLetrasEnlacesSecundarios:hover{
    color: #DCD7C9;
    transform: scale(1.1);
    transition: 1,5s;
}


.contenedorCartasIndex{
    background-color:  #8a8986;
    border-radius: 5px;
}