/*--------------MEDIA QUERYS---------------*/

/*PANTALLAS xl*/

@media all and (max-width: 1200px){
    .portadaIndex , .portadaProductos , 
    .portadaSobreNosotros , .portadaContacto {
        
       height: 30vh; 
    }


    .contenedorFraseMainIndex{
        width: 100%;
        height: 30vh;
        
        
    }

    .contenedorProductosResponsive1{
        display: flex;
        flex-wrap: wrap;
    }

    .estiloBoton{
       
        width: 50vw;
        height: 15vh;
        margin-top: 10%;
        margin-bottom: 15%;
        background-image: radial-gradient(circle at 78.97% 21.03%, #ff90c0 0, #ec87ba 16.67%, #d37db1 33.33%, #b772a4 50%, #9c6796 66.67%, #855d89 83.33%, #71547c 100%);
        
    }
    

    
   
    
}

/*PANTALLAS LG*/

@media all and (max-width: 992px) {
    .imagenSobreNosotros{
        width: 20rem;
        height: 25rem;
        margin-left: 50%;
        
    }
    
    .tituloSobreNosotros{
        
        margin-left: 30%;
        
    }
    
    .tituloSegundoSobreNosotros{
        margin-left: 30%;
        
    
    }
    
    
    .parrafoSobreNosotros{
        
        margin-left: 30%;
        
    }
    
}  

/*PANTALLAS md*/

@media all and (max-width: 768px){

   
    .contenedorFraseMainIndex{
        margin-top: 10%;
        height: 20vh;
    }

    .tituloMainIndex{
        font-size: x-large;
    }

    .parrafoMainIndex{
        font-size: large;
    }

    .estiloBoton{
        width: 50vw;
        height: 20vh;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    .contenedorProductosResponsive1{
        display: flex;
        flex-wrap: wrap;
    }
    
    .transformacionProductos:hover{
        transform: none;
        
    }

    .contenedorOfertasResponsive1{
        display: flex;
        flex-wrap: wrap;
        
    }

    
    .transformacionOfertas{
        transform: none;
        
    }

    .imagenSobreNosotros{
        width: 15rem;
        height: 20rem;
        margin-left: 45%;
        
    }
    
    .tituloSobreNosotros{
        margin-top: 20%;
        margin-left: 25%;
        font-size: x-large;
        
    }
    
    .tituloSegundoSobreNosotros{
        margin-left: 25%;
        font-size: large;
        
    
    }
    
    
    .parrafoSobreNosotros{
        margin-right: 10%;
        margin-left: 25%;
        font-size: medium;
        
    }

   
}

/*PANTALLAS sm*/

@media all and (max-width: 576px){
    

.tituloMainIndex{
    font-size: x-large;
}

.parrafoMainIndex{
    font-size: large;
}

.contenedorFraseMainIndex{
    width: 100%;
    height: 30vh;
    
    
}

.estiloBoton{
  
    width: 50vw;
    height: 15vh;
    margin-top: 5%;
    margin-bottom: 10%;
   
}

.estiloLetrasBoton{
    font-size: large;
    
    

}



.imagenSobreNosotros{
    width: 15rem;
    height: 20rem;
    margin-left: 25%;
    
}

.tituloSobreNosotros{
    margin-top: 30%;
    font-size: large;
    
}

.tituloSegundoSobreNosotros{
    margin-left: 25%;
    font-size: medium;
    

}


.parrafoSobreNosotros{
    margin-right: 10%;
    margin-left: 25%;
    font-size: small;
    
}

}

/*PANTALLAS EXTRA PEQUEÑAS*/

@media all and (max-width: 450px){


.tituloMainIndex{
    font-size: x-large;
}
    
.parrafoMainIndex{
    font-size: large;
}
    
.contenedorFraseMainIndex{
    width: 100%;
    height: 20vh;
        
}

.estiloBoton{
    
    width: 65vw;
    height: 15vh;
    margin-top: 20%;
    margin-bottom: 30%;
}

.estiloLetrasBoton{
    font-size: medium;
    

}



.contedorSobreNosotros{
    flex-wrap: wrap;
}

.imagenSobreNosotros{

    margin-top: 10%;
    margin-left: 40%;
    margin-bottom: 0px;
    
}

.tituloSobreNosotros{
    margin-left: 35%;
    margin-top: 5%;
    
    
}

.tituloSegundoSobreNosotros{
    margin-left: 30%;
    
    

}


.parrafoSobreNosotros{
    margin-right: 20%;
    margin-left: 25%;
    
    
}

}

@media all and (max-width: 280px){

    .contenedorFraseMainIndex{
        height: 35vh;
    }
    
    .imagenSobreNosotros{
        width: 10rem;
        height: 15rem;
        
    }

    .tituloSobreNosotros{
        
        margin-right: 10%;
        margin-left: 25%;
        
    }
    
    .tituloSegundoSobreNosotros{
        margin-right: 10%;
        margin-left: 25%;
        
    }
    
    
    
}

