/*--------------MEDIA QUERYS---------------*/

@media all and (max-width: 1200px){
    .portadaIndex , .portadaProductos , .portadaOfertas , 
    .portadaSobreNosotros , .portadaContacto{
        
       height: 30vh; 
    }

    .contenedorFraseMainIndex{
        width: 100%;
        height: 30vh;
        
        
    }

    .contenedorProductosResponsive1{
        display: flex;
        flex-wrap: wrap;
    }

    
   
    
}


@media all and (max-width: 992px) {
    .imagenSobreNosotros{
        width: 20rem;
        height: 25rem;
        margin-left: 50%;
        
    }
    
    .tituloSobreNosotros{
        
        margin-left: 30%;
        
    }
    
    .tituloSegundoSobreNosotros{
        margin-left: 30%;
        
    
    }
    
    
    .parrafoSobreNosotros{
        
        margin-left: 30%;
        
    }
    
}  

@media all and (max-width: 768px){

   
    .contenedorFraseMainIndex{
        height: 20vh;
    }

    .tituloMainIndex{
        font-size: x-large;
    }

    .parrafoMainIndex{
        font-size: large;
    }
    .contenedorProductosResponsive1{
        display: flex;
        flex-wrap: wrap;
    }
    
    .transformacionProductos:hover{
        transform: none;
        
    }

    .contenedorOfertasResponsive1{
        display: flex;
        flex-wrap: wrap;
        
    }

    
    .transformacionOfertas{
        transform: none;
        
    }

    .imagenSobreNosotros{
        width: 15rem;
        height: 20rem;
        margin-left: 45%;
        
    }
    
    .tituloSobreNosotros{
        margin-top: 20%;
        margin-left: 25%;
        font-size: x-large;
        
    }
    
    .tituloSegundoSobreNosotros{
        margin-left: 25%;
        font-size: large;
        
    
    }
    
    
    .parrafoSobreNosotros{
        margin-right: 10%;
        margin-left: 25%;
        font-size: medium;
        
    }

   
}
    

@media all and (max-width: 576px){
    

.tituloMainIndex{
    font-size: x-large;
}

.parrafoMainIndex{
    font-size: large;
}

.contenedorFraseMainIndex{
    width: 100%;
    height: 30vh;
    
    
}



.imagenSobreNosotros{
    width: 15rem;
    height: 20rem;
    margin-left: 25%;
    
}

.tituloSobreNosotros{
    margin-top: 30%;
    font-size: large;
    
}

.tituloSegundoSobreNosotros{
    margin-left: 25%;
    font-size: medium;
    

}


.parrafoSobreNosotros{
    margin-right: 10%;
    margin-left: 25%;
    font-size: small;
    
}





}

@media all and (max-width: 450px){


.tituloMainIndex{
    font-size: x-large;
}
    
.parrafoMainIndex{
    font-size: large;
}
    
.contenedorFraseMainIndex{
    width: 100%;
    height: 20vh;
        
}

.contenedorImagenPorQueUsarReloj{
    width: 20rem;
    height: 22.5rem;
   
}

.contedorSobreNosotros{
    flex-wrap: wrap;
}

.imagenSobreNosotros{
    margin-top: 10%;
    margin-left: 40%;
    margin-bottom: 0px;
    
}

.tituloSobreNosotros{
    margin-left: 35%;
    margin-top: 5%;
    
    
}

.tituloSegundoSobreNosotros{
    margin-left: 30%;
    
    

}


.parrafoSobreNosotros{
    margin-right: 20%;
    margin-left: 25%;
    
    
}

}

