/*-------------OFERTAS---------------*/

.portadaOfertas{
    width: 100%;
    height: 50vh;
    background-image: url(../img/Ofertas.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contenedorMainOfertas{
    margin-top: 2%;

}