@import '../base.scss/variables';
@import '../base.scss/maps';
@import '../base.scss/mixin';
@import '../base.scss/extends';
/*----------Productos De Hombre----------*/

.portadaProductosHombre{
    width: map-get($ancho, w-100 );
    height: 30vh;
    background-image: url(../img/productosHombre.png);
   @include estilosbackground;
}

.contenedorMainProductos{
    margin-top: 2%;

}

.transformacionProductos:hover{
    transform: scale(1.1);
    transition: 1s;

}
